{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% for td in user.todolist.all %}
            <!-- <p><a href = "/{{td.id}}">{{td.name}}</a></p> -->
            <div class="list-group">
                <a href="/{{td.id}}" class="list-group-item list-group-item-dark">{{td.name}}</a>
                <!-- <button type="button" value = "deletetodo" name = "deletetodo"class="btn btn-danger" style="align-self: right;">Delete</button> -->
                           
            </div>
            <p></p>
            <hr class="mt-1 mb-3">
            <p></p>
        {% endfor %}
    {% else %}    
        <p>Login to see your Todo List</p>
    {% endif %}
    
{% endblock %}