{% extends "main/base.html" %}

{% block title %}
View
{% endblock %}

{% block content %}
    {% if request.user.is_authenticated %}
        {% for td in user.todolist.all %}
            <!-- <p><a href = "/{{td.id}}">{{td.name}}</a></p> -->
            <div class="list-group">
                <a href="/{{td.id}}" class="list-group-item list-group-item-dark">{{td.name}}</a>
                <hr class="mt-1 mb-3">
            </div>    
        {% endfor %}
    {% else %}    
        <p>Login to see your Todo List</p>
    {% endif %}
    
{% endblock %}